//FONTS
@import url('http://fonts.googleapis.com/css?family=Amarante&subset=latin,latin-ext');
@import url('http://fonts.googleapis.com/css?family=Audiowide&subset=latin,latin-ext');


//VARIABLES
// $primary-font: 'Amarante', sans-serif;
$primary-font: 'Audiowide', sans-serif;
$background-color: #f5f5f5;

// $first-color: ;
$second-color: #4da44d;

body {
	background: url('http://d32ffatx74qnju.cloudfront.net/themes/cleanPeppermintBlack_4fcab230/images/chalkboard.jpg');
	font-family: $primary-font;
}

// GLOBAL
.container {
	margin: 20px auto;
	padding: 15px;
}

.box {
	background-color: $background-color;
	border-radius: 15px;
}

h2, h1 {
	color: $second-color;
}

.navbar-inverse .navbar-brand {
	@extend h2;
    text-shadow: 4px 4px 2px black;
}

//NAVBAR

.glyphicon-headphones {
	margin: 0 10px;	
}

/*HERO*/

.header-main {
	margin: 50px auto 20px auto;
	text-align: center;
}

.carousel-main {
	padding-top: 0px;
}

.carousel-inner > .item > img {
	height: calc(100vh - 170px);
	margin: 0 auto;
}

//GALLERY
.gallery .row > div {
	padding: 5px;
}

.gallery img {
	opacity: 0.8;
}
.gallery img:hover {
	opacity: 1;
}

//TABLE
.table-hover>tbody>tr:hover {
	background-color: #5bc0de;
}

//FOOTER
footer {
	background: grey;
	padding: 15px;
	color: silver;
}

//MEDIA QUERRIES
@media (max-width: 960px) and (min-width: 770px) {
	.header-main {
		margin-top: 110px;
	}
}

@media (max-width: 770px) {
	//MENU
	.navbar-fixed-top {
		position: relative;
	}

	.nav li {
		display: block;
		text-align: center;
	}

	.form-group {
		display: inline-block;
	}

	.search {
		display: none;
	}
	
}